*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica Neue',Helvetica,Arial;
}
.main-container{
    height: 100vh;
    width: 100%;
    display: flex;
}
.img-section{
    height: 100%;
    width: 70%;
    background-image: url(../img1.png);
    background-position: center;
    background-size: cover;
}
.text-section{
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.login{
    height: 60%;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.login img{
    width: 150px;
}
.login h3{
    margin-top: 50px;
}
.login input{
    width: 90%;
    height: 50px;
    border: none;
    border-bottom: 1px solid gray;
    margin-top: 70px;
}
.next-btn{
    width: 90%;
    height: 50px;
    margin-top: 20px;
    border: none;
    background-color: #3399CC;
    color: white;
}
.span1{
    width: 90%;
    color: #3399CC;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.span1 a{
    text-decoration: none;
}
.btn2{
    width: 90%;
    height: 50px;
    background-color: white;
    border: 1px solid #3399CC;
    margin-top: 20px;
    color: #3399CC;
}
.login p{
    margin-top: 20px;
}
.btn3{
    width: 90%;
    height: 50px;
    background-color: white;
    border: 1px solid gray;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.google-span{
    width: 23%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.google-span img{
    height: 30px;
} 
.google-span p{
    margin-bottom: 13px;
}
.terms{
    color: #3399CC;
    
}
.bi{
    color: gray;
}
@media(max-width: 768px){
    .img-section{
        display: none;
    }
    .text-section{
        width: 100%;
    }
    .login{
        width: 70%;
    }
}